<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    {{>header}}

    {{!-- <h1>About Page.
    </h1> --}}
    This app is developed by Vidhya. 
    <img src="img/robot.png" />
    <br />
    Contact this person for the more information.
    Copyrights to {{copyright}}
    
    {{>footer}}
</body>

</html>